{
  "email": "your_email@example.com",
  "user": "YOUR_USER_ID_HERE",
  "key": "YOUR_API_KEY_HERE",
  "serviceUrl": "https://api.myzmanim.com/engine1.svc",
  "restUrl": "https://api.myzmanim.com/engine1.json.aspx"
}
